body{
    font-family: $fuente-parrafos;
    font-size: 20px;
    width: 100%;
    min-height: 100vh;
    background-image: url(../multimedia/fondo/5594016.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}