

footer{
    text-align: center;
    margin-top: 40px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: $color-primario;   
    background-color:$color-footer ;
    color: $color-secundario;
    h4 a{
        color: $color-secundario;
        text-decoration: underline;
      }
    }

